.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:24px;
    padding-bottom: 24px; 
}
p{
    color:var(--ocean-blue);
    font-size: 16px;
    text-align:center;
}