@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
    --ocean-blue: #003459;
    --aqua-blue:#00A8E8;
    --teal-blue:#007EA7;
    --midnight:#00171F;
    --white:#FFFFFF;
    --baby-blue:#E4F5FF;
    --chip-blue:#E0ECF3;
    --borders:#90B0BB;
    --yellow-warning:#CBA134;
    --active-green:#129714;
    --inner-blue:#A3C9DD;
    --yellow-dark:#866A24;
    --yellow-overlay:#FFF3CD;
    --red-error:#DB2F2F;
    --light-red-error:#FF9191;
    --dark-red-error:#753434; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



